.card {
    position: relative;
    max-width: 240px;
    flex: 1 0 21%;
    width: 25%;
    margin-right: 1%;
    margin-bottom: 20px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.card:last-of-type {
    margin-right: 0;
}

.card:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer
}

img {
    transform: scale(1.05);
    transition: 0.3s ease;
}

div.cardContent {
    padding: 1rem;
    position: relative;
    text-align: center;
}

h3.cardTitle {
    font-size: 1.2rem;
}

.imageWrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

imageWrapper img {
    width: 100%;
    transition: 0.3s ease;
}

span.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -2rem;
    right: 1rem;
    width: 1rem;
    height: 1rem;
    padding: 1.5rem;
    background-color: #d81f26;
    color: #000;
    font-weight: 700;
    clip-path: polygon(
            50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%
    );
}

.link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
}