
.movieWrapper{
    display: grid;
    grid-template-areas:
    "image description";
    grid-template-columns: 3fr 9fr;
}

.movieImage{
    grid-area: image;
}

.movieDescription {
    grid-area: description;
    padding-left: 35px;
}

.movieDescription a {
    color: green;
}